<div class="container" ng-controller="productsController">
				<div class="row">		
					
					<div class="col-lg-4" ng-controller="productController"> <!-- the single product -->
						
							<img ng-src="{{product.imageUrl}}"></img>
										
							<div class="well">
								<h4>{{product.name}}</h4>
								<label>
									Price:
								</label>
								<p> {{product.price}}</P>
								<p> {{product.describtion}}</P>  
								<p> {{product.category}}</P>
							</div>
							<div class="col-xs-6">
								<form>
									 <button class="btn btn-danger" ng-click="deleteProduct(product)">Remove</button>
									</form>
							</div>

					</div> <!-- END the single product bbbbb-->

					<!-- cart product -->

					 	
			<div class="col-lg-4" ng-controller="productController">
				<h2>Edit Product</h2>
			<div ng-show="notification" class="alert alert-success">{{ notification }}</div> 
			<form ng-submit="save()">
			  <div class="form-group">
			    <label for="id">id</label>
			    {{product.id}}
			  </div>
			  <div class="form-group">
			    <label for="name">name</label>
			    <input type="text" ng-model="product.name" class="form-control" id="name" name="name" placeholder="Enter name">
			  </div>
			  <div class="form-group">
			    <label for="price">price</label>
			    <input type="text" ng-model="product.price" class="form-control" id="price" name="price" placeholder="Enter price">
			  </div>
			  <div class="form-group">
			    <label for="category">category</label>
			    <input type="text" ng-model="product.category" class="form-control" id="category" name="category" placeholder="Enter category">
			  </div>
			  <div class="form-group">
			    <label for="imageUrl">image</label>
			    <input type="text" ng-model="product.imageUrl" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter image">
			  </div>
			  <div class="form-group">
			    <label for="describtion">describtion</label>
			    <input type="text" ng-model="product.describtion" class="form-control" id="describtion" name="describtion" placeholder="Enter describtion">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>						 			 	
			
		</div>		 	
					

				
					
				</div>
</div>


	
	
	
	
